<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      dev_oliviak
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">app Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>app visit</strong>
    <p>do you want see my projects?
      <ion-button 
       expand="block"
       shape="round" 
       color="success" 
       href="https://github.com/danieloliviak">
       <ion-icon name="logo-github"></ion-icon>
        github
      </ion-button>
      <ion-button 
       expand="block"
       shape="round" 
       color="success" 
       href="https://www.linkedin.com/in/daniel-oliviak-7274071b7/">
       <ion-icon name="logo-linkedin"></ion-icon>
        linkedin
      </ion-button>
    </p>


    <ion-card>
      <ion-card-content>
        <ion-card-title>
          my experience
        </ion-card-title>
        <p>
          Web development and Mobile development
          include experience in php, python, js, kotlin. I can do 
          sql manipulation and consume APIs and frameworks.
        </p>
      </ion-card-content>

      <ion-card-content>
        <ion-card-title>
          about me 
        </ion-card-title>
        <p>
          I am Daniel software developer, i have been since 2023 developing
          and learning programing. First i started learning web development with front-end 
          after back-end and now mobile development. In 2024 i entered in 
          international university of applied sciences on the course b.sc 
          in software development.
        </p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-footer style="padding-bottom: 50px;">
  <div id="container">
    <h3>
      <ion-icon name="logo-android"></ion-icon>
      all rights reserved
    </h3>
  </div>
</ion-footer>
